<form method="post" action="{{ path('app_commande_delete', {'id': commande.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette commande ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commande.id) }}">
    <button class="btn btn-danger">Supprimer la commande</button>
</form>
